* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('Imagenes/fondo_sol_rosa.jpg') no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
} 


.box{
    width: 500px;
    background: rgba(142, 142, 142, 0.495);
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.box h1{
    font-size: 35px;
    font-weight: 525;
    margin: 30px 0 20px;
    
}

.datos{
    text-align: left;
}

.label{
    margin-left: 12%;
}



.boton{
    width: 100px;
    margin-bottom: 4%;
}